{% extends 'base.html.twig' %}

{% block title %}New Question{% endblock %}

{% block body %}
    <h1>Create new Question</h1>

    {{ include('question/_form.html.twig') }}
    <script>
        const addFormToCollection = (e) => {
            const collectionHolder = document.querySelector('.' + e.currentTarget.dataset.collectionHolderClass);

            const item = document.createElement('li');

            item.innerHTML = collectionHolder
                .dataset
                .prototype
                .replace(
                    /__name__/g,
                    collectionHolder.dataset.index
                );

            collectionHolder.appendChild(item);

            collectionHolder.dataset.index++;
        };
        document
            .querySelectorAll('.add_item_link')
            .forEach(btn => btn.addEventListener("click", addFormToCollection));

    </script>
    <a href="{{ path('question_index') }}">back to list</a>
{% endblock %}
