{% extends 'main/index.html.twig' %}

{% block title %}New Question{% endblock %}

{% block content %}
    <h1 class="text-center">Créer une nouvelle question avec ses réponses</h1>
    {{ include('question/_form.html.twig') }}
    <script>
        const addFormToCollection = (e) => {
            const collectionHolder = document.querySelector('.' + e.currentTarget.dataset.collectionHolderClass);

            const item = document.createElement('li');
            if(collectionHolder.dataset.index <= 3){
                item.innerHTML = collectionHolder
                    .dataset
                    .prototype
                    .replace(
                        /__name__/g,
                        collectionHolder.dataset.index
                    );

                collectionHolder.appendChild(item);

                collectionHolder.dataset.index++;
            }else{
                alert("Le nombre de réponse est limité à 4");
            }
        };
        document
            .querySelectorAll('.add_item_link')
            .forEach(btn => btn.addEventListener("click", addFormToCollection));
    </script>
    <a href="{{ path('admin_question_index') }}" class="btn btn_form">Revenir à la liste des questions  : </a>
{% endblock %}
