{% extends 'main/index.html.twig' %}
{% block title %}Accueil QCM{% endblock %}
{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="#">
{% endblock %}

{% block body %}
    <div class="container">
        <h1>QCM : </h1>
    </div>

    <div class="container">
        {% for question in questions %}
            <ul>
            {{ question.label }}
            {% for reponse in question.reponses %}
                {% if question.countCorrect > 1 %}
            {% else %}
                <span> Cette question n'a pas de réponse</span>
            {% endfor %}
            </ul>
        {% endfor %}
    </div>
    {% block javascripts %}
        {{ parent() }}
        <script src="{{ asset('assets/js/script_qcm_index.js') }}"></script>
    {% endblock %}
{% endblock %}